<div class="reviews">
    {% for review in reviews %}
            <a href="{{ url_for('main.review_detail', review_id=review.id) }}">
                <h3>{{ review.summary }}</h3>
                {% if review.content|length > 255 %}
                    <p>{{ review.content[:255] }}...</p>
                {% else %}
                    <p>{{ review.content }}</p>
                {% endif %}
            </a>
            <div class="actions">
                <form action="{{ url_for('main.review_detail', review_id=review.id) }}">
                    <button class="primary smaller" type="submit">Read Full Review</button>
                </form>
            </div>
    {% endfor %}
    </div>
