{% extends 'base.html' %}
{% block content %}
{% if user.public or user.id == current_user.id %}
<h1 class="profile-name">{{ user.username }}</h1>
{% if user == current_user %}
<div class="actions">
    <form action="{{ url_for('auth.edit_profile', user_id=user.id) }}" method="post">
        <button class="primary smaller">Edit Profile</button>
    </form>
    <form>
        <button class="danger smaller" id="delete-profile">Delete Profile</button>
    </form>
</div>
<div id="delete" class="delete-check hidden">
    <p>Are you sure you want to delete your profile?</p>
    <p>This action is permanent and will also delete all your reviews.</p>
    <div class="actions">
    <form action="{{ url_for('auth.delete_profile', user_id=user.id) }}" method="post">
        <button class="danger smaller" type="submit">Yes</button>
    </form>
    <form>
    <button class="secondary smaller" id="cancel-delete">Cancel</button>
    </form>
    </div>
</div>
{% endif %}
{% include 'Users/user.html' %}
<h2>About Me</h2>
{% if user.bio %}
    <p>{{ user.bio }}</p>
{% else %}
    <p>This user has yet to share their bio.</p>
{% endif %}
    <h2>Artists I Follow</h2>
    {% if user.liked_artists %}
        {% for artist in user.liked_artists %}
            {% include 'Artists/artist.html' %}
        {% endfor %}
    {% else %}
        <p>Not following any artists yet.</p>
    {% endif %}
    <h2>Reviews</h2>
    {% if user.reviews_written %}
        {% for review in user.reviews_written %}
        <h3>{{ review.album.title }}</h3>
            {% include 'Reviews/review.html' %}
        {% endfor %}
    {% else %}
        <p>No reviews yet.</p>
    {% endif %}
{% endif %} 
{% endblock %}
