{% extends 'base.html' %}
{% block content %}
<h1>Sign Up</h1>
<form action="/signup" method="POST">
    {{ form.csrf_token }}
    <fieldset>

        {% if form.errors %}
            <ul class="errorlist">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}

        {{ form.username.label }}
        {{ form.username }}


        {{ form.password.label }}
        {{ form.password }}
        

        {{ form.avatar_url.label }}
        {{ form.avatar_url }}

        {{ form.public.label }}
        {{ form.public }}

        {{ form.submit }}
    </fieldset>
</form>




{% endblock %}
