{% extends 'base.html' %}
{% block content %}
    <h1 class="record-name">{{ artist.name }}</h1>
    <div class="actions">
        <form action="{{ url_for('main.add_album') }}">
            <input type="hidden" name="artist_id" value="{{ artist.id }}">
            <button class="primary smaller" type="submit">Add Album</button>
        </form>
        <form action="{{ url_for('main.edit_artist', artist_id=artist.id) }}">
            <button class="secondary smaller" type="submit">Edit Artist</button>
        </form>
        </div>
    <div class="detail-image" style="background-image:url({{artist.photo_url}});">
    </div>
    <h2>Biography</h2>
    <p class="bio">{{ artist.bio }}</p>
    <h2>Featured Albums</h2>
    {% if albums|length == 0 %}
        <p>There are no albums currently in Earworm for this artist.</p>   
    {% else %}
    <ul class="albums">
        {% for album in albums %}
            <li>
                <a href="{{ url_for('main.album_detail', album_id=album.id) }}">
                    <div class="container">
                    <img src="{{ album.cover_url }}" alt="{{ album.title }}" class="image">
                    <div class="overlay">
                        <div class="text">{{ album.title }}<p>{{album.release_date.strftime('%Y')}}</p></div>
                    </div>
                </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
