/* colours:
#f0941c - main colour
#070707 - background
#52504d - Box Highlight
 #9d9a94- Headers
#e8e4db - Text
*/

body, html {
    height: 100%;
    margin: 0 auto;
    background-color: #070707;
    color: #e8e4db;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

input {
    font-family: 'Roboto', sans-serif;
}

nav, nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    background-color: #070707;
    margin-right: 20px;
}

nav li {
    padding: 10px;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    border: none;
    font-weight: 100;
    color: #f0941c;
    text-transform: uppercase;
}

nav a:hover {
    color: #e8e4db;
    font-weight: bold;
}

.nav-logo {
    padding-left: 1%;
    margin-top: 3%;
}

.hero-image {
   padding: 3%;
   max-width: 800px;
   margin: 0 auto;
} 

main {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 80px;
}

a {
    color: #f0941c;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 3px;
}

h1 {
    color: #f0941c;
}

h2 {
    font-size: 0.75em;
    color: #9d9a94;
    font-weight: 300;
}

h3 {
    font-size: 0.6em;
    color: #e8e4db;
    font-weight: 300;
}

h5 {
    font-weight: 100;
}

p {
    font-size: 0.5em;
    font-weight: lighter;
}

footer {
    background-color: #070707;
    color: #f0941c;
    padding: 7%;
    text-align: center;
    font-weight: bold;
}

#log-in-status {
    position: absolute;
    top: -5px;
    right: 10px;
    margin-bottom: 10px;
    color: #e8e4db;
}

.intro {
    text-align: center;
    line-height: 1.25;
    max-width: 600px;
    margin: 0 auto;
    /* padding-bottom: 100px; */
}

.user-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
}

.login{
    margin-right: 25%;
}


.primary, input[type=submit] {
    border: none;
    border-radius: 8px;
    font-size: 0.75em;
    font-weight: 200;
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #f0941c;
    border: 1px solid #f0941c;
}

.primary:hover, input[type=submit]:hover {
    background-color: #f0941c;
    color: #070707;
}

input[type=submit]:hover {
    font-weight: 400;
}

.primary.smaller {
    font-size: 0.5em;
    font-weight: 100;
    padding: 10px;
}


input[type=submit] {
   margin: 20px auto;
   width: 105%;
}

.secondary {
    border: none;
    border-radius: 8px;
    font-size: 0.75em;
    font-weight: lighter;
    padding: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #e8e4db;
    border: 1px solid #e8e4db;
}

.secondary:hover {
    background-color: #e8e4db;
    color: #070707;
}

.secondary.smaller {
    font-size: 0.5em;
    font-weight: 100;
    padding: 10px;
}

fieldset {
    border: 1px solid #f0941c;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* max-width: 400px; */
    margin: 7% auto;
    font-size: 0.5em;
    font-weight: lighter;
    padding: 15%;
}

label {
    width: 100%;
    text-transform: lowercase;
}

input[type=text], input[type=url], input[type=password], input[type=date], select, textarea{
    background-color: #e8e4db;
    width: 100%;
    padding: 20px;
    font-size: 0.75em;
    border: none;
    margin-bottom: 10px;
    margin-top: 20px;
}


.home-search {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}

.home-search input[type=text] {
    background-color: #070707;
    border: 1.5px solid #f0941c;
    border-right: none;
    color: #f0941c;
    border-radius: 8px 0 0 8px;
    font-weight: 100;
    text-align: center;
}

.home-search input[type=text]:focus {
    outline: none;
}

.home-search button[type=submit] {
    font-size: 0.75em;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 0px 8px 8px 0px;
    background-color: #f0941c;
    color: #070707;
}



.input:focus, .url:focus {
    outline: none;
}

input[type=checkbox] {
    margin: 10px;
    width: 20px;
    height: 20px;
    padding-bottom: 20px;
}

legend {
    font-size: 2em;
}

.artist-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

.errorlist {
    background-color: #f0941c;
    list-style: none;
    color:#070707;
    padding: 2%;
    width: 100%;
    font-weight: normal;
}

.errorlist li {
    padding-left: 10px;
}

.sub {
    font-size: 24px;
}

.artist-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:5%;
}

.artist-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

.artist-text {
    flex-basis: 60%;
    margin-left: 30px;
}

.more {
    font-size: 0.5em;
    font-weight: 100;
    margin: 0;

}


