{% extends 'base.html' %}
{% block content %}
<section class="about">
<h1>About Earworm</h1>
<p>Earworm is a music review site that allows users to search for albums and artists, and read reviews of albums. Users can also create their own reviews of albums.</p>
<p>This site was developed by <a href="https://github.com/euripidean" target="_blank">euripidean</a> for a backend web development class as part of the Applied Computer Science course at Dominican University of California.</p>
<h2>Future Development Ideas</h2>
<ul>
    <li>API integration with Spotify, allowing a user's Earworm account to be their Spotify account.</li>
    <li>Ingration with ticket sellers for artist tours</li>
    <li>Create artists/albums via integration rather than manual input</li>
    <li>Build on a community aspect of listening to music</li>
</ul>
</section>
{% endblock %}
