{% extends 'base.html' %}
{% block content %}
{% include 'Admin/toolbar.html' %}
{% include 'Admin/search.html' %}

<section class="all-earworms">
{% if artists %}
<h1>Artists</h1>
<div class="artist-list">
    {% if artists|length > 8 %}
    {% for i in range(1,9) %}
    {% set artist = artists[i] %}
    <div class="artist-info">
        {% include 'Artists/artist.html' %}
    </div>
    {% endfor %}
    {% else %}
    {% for artist in artists %}
<div class="artist-info">
{% include 'Artists/artist.html' %}
</div>
{% endfor %}
{% endif %}
</div>
<a href="{{ url_for('main.all_artists')}}" class="all">See all artists</a>
{% else %}
<p>No artists found.</p>
{% endif %}

{% if albums %}
<h1>Trending Albums</h1>
<ul class="albums">
    {% if albums|length > 8 %}
    {% for i in range(1,9) %}
    {% set album = albums[i] %}
        <li>
            <a href="{{ url_for('main.album_detail', album_id=album.id) }}">
                <div class="container">
                <img src="{{ album.cover_url }}" alt="{{ album.title }}" class="image">
                <div class="overlay">
                    <div class="text"><p>{{ album.title }}</p><p>{{album.release_date.strftime('%Y')}}</p></div>
                </div>
            </div>
            </a>
        </li>
    {% endfor %}
    {% else %}
    {% for album in albums %}
        <li>
            <a href="{{ url_for('main.album_detail', album_id=album.id) }}">
                <div class="container">
                <img src="{{ album.cover_url }}" alt="{{ album.title }}" class="image">
                <div class="overlay">
                    <div class="text">{{ album.title }}<p>{{album.release_date.strftime('%Y')}}</p></div>
                </div>
            </div>
            </a>
        </li>
    {% endfor %}
    {% endif %}
</ul>
<a href="{{ url_for('main.all_albums')}}" class="all">See all albums</a>
{% else %}
<p>No albums found.</p>
{% endif %}

<h1>Users</h1>
{% if users %}
<div class="user-list">
    {% if users|length > 19 %}
    {% for i in range(1,10) %}
    {% set user = users[i] %}
    {% include 'Users/user.html' %}
    {% endfor %}
    {% else %}
{% for user in users %}
{% include 'Users/user.html' %}
{% endfor %}
{% endif %}
</div>
<a href="{{ url_for('auth.all_users')}}" class="all">Meet all users</a>
{% else %}
<p>No users found.</p>
{% endif %}
</section>


{% endblock %}
