{% extends 'base.html' %}
{% block content %}
{% include 'Admin/toolbar.html' %}
{% include 'Admin/search.html' %}

<section class="all-earworms">
{% if artists %}
<h1>Artists</h1>
<div class="artist-list">
{% for artist in artists %}
<div class="artist-info">
{% include 'Artists/artist.html' %}
</div>
{% endfor %}
</div>
{% else %}
<p>No artists found.</p>
{% endif %}

{% if albums %}
<h1>Albums</h1>
<div class="album-list">
{% for album in albums %}
{% include 'Albums/album.html' %}
{% endfor %}
</div>
{% else %}
<p>No albums found.</p>
{% endif %}

{% if reviews %}
<h1>Reviews</h1>
<div class="review-list">
{% for review in reviews %}
{% include 'Reviews/review.html' %}
{% endfor %}
</div>
{% else %}
<p>No reviews found.</p>
{% endif %}
</section>


{% endblock %}
