{% extends 'base.html' %}
{% block content %}
{% include 'Admin/toolbar.html' %}
{% include 'Admin/search.html' %}

<section class="all-earworms">
{% if artists %}
<h1>Artists</h1>
<div class="artist-list">
{% for artist in artists %}
<div class="artist-info">
{% include 'Artists/artist.html' %}
</div>
{% endfor %}
</div>
{% else %}
<p>No artists found.</p>
{% endif %}

{% if albums %}
<h1>Trending Albums</h1>
<ul class="albums">
    {% if albums|length > 8 %}
    {% for i in range(1,10) %}
    {% set album = albums[i] %}
        <li>
            <a href="{{ url_for('main.album_detail', album_id=album.id) }}">
                <div class="container">
                <img src="{{ album.cover_url }}" alt="{{ album.title }}" class="image">
                <div class="overlay">
                    <div class="text">{{ album.title }}<p>{{album.release_date.strftime('%Y')}}</p></div>
                </div>
            </div>
            </a>
        </li>
    {% endfor %}
    {% else %}
    {% for album in albums %}
        <li>
            <a href="{{ url_for('main.album_detail', album_id=album.id) }}">
                <div class="container">
                <img src="{{ album.cover_url }}" alt="{{ album.title }}" class="image">
                <div class="overlay">
                    <div class="text">{{ album.title }}<p>{{album.release_date.strftime('%Y')}}</p></div>
                </div>
            </div>
            </a>
        </li>
    {% endfor %}
    {% endif %}
</ul>
{% else %}
<p>No albums found.</p>
{% endif %}

{% if reviews %}
<h1>Reviews</h1>
<div class="review-list">
{% for review in reviews %}
{% include 'Reviews/review.html' %}
{% endfor %}
</div>
{% else %}
<p>No reviews found.</p>
{% endif %}

{% if users %}
<h1>Users</h1>
<div class="user-list">
{% for user in users %}
{% include 'Users/user.html' %}
{% endfor %}
</div>
{% else %}
<p>No users found.</p>
{% endif %}
</section>


{% endblock %}
