{% extends 'homebase.html' %}
{% block content %}
<div class="hero-image">
<img src="/static/Images/logo.png" alt="Earworm">
</div>
<section class="intro">
<p>Earworm is a music recommendation service that uses your listening history to recommend new music.
</p>
<h2>Sounds Good.</h2>
</section>
{% include 'Admin/search.html' %}
<section class="user-actions">
<div class="login">
<form action="{{ url_for('auth.login')}}">
<button class="primary" type="submit">Sign In</button>
</form>
</div>
<div class="signup">
<form action="{{ url_for('auth.signup')}}"></form>
<button class="secondary" type="submit">Join Us</button>
</form>
</div>
</section>


{% endblock %}
